@model OpenWeatherAPIProject.Models.Root

<div class="weatherToday">

    <div class="card">
        <div class="card-body text-center">
            <img src="@ViewData["Icon"].ToString()" height="100px" asp-append-version="true"/>
            <h2>@Html.DisplayFor(model => model.main.temp)°</h2>
            <h3>@Html.DisplayFor(model => model.name)</h3>
            <p>Current weather: @Html.DisplayFor(model => model.weather.First().description)</p>
        </div>
    </div>

    <!-- <h1>@Html.DisplayFor(model => model.name)</h1> -->
</div>

<div class="weatherNextDayss">

</div>
